<div class="panel my-3">
  <div *ngIf="!lastQuestionReached">
    <button class="btn btn-primary is-right" (click)="next()">Next</button>
  </div>
  <div *ngIf="lastQuestionReached">
    <button class="btn btn-primary is-right" (click)="finish()">Finish</button>
  </div>

  <div class="question__title question__block">
    <label>Question {{currentQuestionIndex}}</label>
    <h3>{{appState.state.currentQuestion.text}}</h3>
  </div>

  <div class="question__answers question__block">
    <ul>
      <li><label><input type="checkbox"/>{{appState.state.currentQuestion.answers}}</label></li>
    </ul>
  </div>
</div>
