<div class="panel my-3">
  <div *ngIf="!lastQuestionReached">
    <button class="btn btn-primary is-right" (click)="next()">Next</button>
  </div>
  <div *ngIf="lastQuestionReached">
    <button class="btn btn-primary is-right" (click)="finish()">Finish</button>
  </div>

  <div class="question__title question__block">
    <label>Question {{currentQuestionIndex}}</label>
    <h3>{{currentQuestion.text}}</h3>
  </div>

  <div class="question__answers question__block">
    <form>
      <ul>
        <li *ngFor="let answer of currentQuestion.answers">
          <label><input type="checkbox" name="answer.text" [(ngModel)]="answer.selected"/>{{answer.text}}</label>
        </li>
      </ul>
    </form>
  </div>
</div>
